@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Gunakan format --container-*: value; */
  --container-center: true;
  --container-padding: 1rem;

  /* Breakpoint 2xl kamu sudah benar */
  --breakpoint-2xl: 1320px;

  --color-primary: oklch(70.4% 0.14 182.503);
  --color-dark: oklch(20.8% 0.042 265.755);
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer components {
  .navbar-fixed {
    @apply !fixed z-[9999] bg-white/80 backdrop-blur-md shadow-md transition duration-300;
  }
  .navbar-fixed .nav-link {
    @apply !text-primary;
  }
  .nav-link {
    @apply text-dark transition duration-300
  }
  .hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark transition duration-300 ease-in-out;
  }
  .hamburger-active > span:nth-child(1) {
    @apply rotate-45 origin-top-left;
  }
  .hamburger-active > span:nth-child(2) {
    @apply rotate-0 scale-0;
  }
  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45 origin-bottom-left;
  }
}

/* Pastikan ini tetap ada di bawah @theme untuk memaksa margin auto */
@utility container {
  margin-inline: auto;
  max-width: 100%;
  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
}
